* {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    word-break: keep-all;
}

html {
    font-size: 30%;
}

body {
    background-color: #f0f0f0;
    font-size: 2.8rem;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.div {
    padding-left: 4%;
    line-height: 358%;
    height: 358%;
    width: 96%;
    background-color: #ffffff;
    float: left;
}

.img1 {
    margin: 3.333% 1% -1% 0;
    width: 5%;
}

.input1 {
    height: 358%;
    width: 90%;
    color: #464950;
    font-size: 2.8rem;
}

.div1 {
    margin-top: 6.5%;
}

.div2 {
    margin-top: 2px;
    color: #464950;
}

.div3 {
    float: left;
    height: 250%;
    line-height: 250%;
    font-size: 2.4rem;
    color: #707072;
    background: rgba(0, 0, 0, 0);
}

.tishi{
    color: #464950;
    margin-right: 2%;
}

.jiage{color: #B4B4B4}

.num{
    width: 9%;
    float: left;
}

#num2{
    width: 100%;
    line-height: 183%;
    margin: 46% 0;
    font-size: 2.4rem;
    background-color: #FCF6CA;
    text-align: center;
}

#num{
    width: 100%;
    padding: 9% 0;
    font-size: 2.4rem;
    background-color: #FCF6CA;
    text-align: center;
}

.img2{
    width: 100%;
    padding-top: 46%;
    margin-bottom: -16%;
}

.img3{
    width: 6.5%;
    margin: 1% 2% -1% 0;
}

.img4{
    width: 6.5%;
    float: right;
    margin-right: 4%;
    margin-top: 3.6%;
}

.zongjia{
    width: 92%;
    padding: 4.8% 4%;
    position: fixed;
    left: 0;
    bottom: 20%;
    border-bottom: 3px solid #d2d2d2;
}

.zongji{
    color: #707072;
}

#zongjia{
    font-size: 6.4rem;
}

.yuan{
    color: #ff612c;
}

.anniu {
    position: fixed;
    bottom: 6%;
    width: 87%;
    padding: 3% 0;
    font-size: 3.4rem;
    font-family: "微软雅黑 Light";
    background-color: #ff612c;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    left: 6.5%;

}